.MacBook_Pro_14__4 {
	transform-box: fill-box;
	transform-origin: 50% 50%
}
._36ed015a78fa454ab2f646487193bf5d1 {
	animation: 2s linear 0s 1 normal forwards running _36ed015a78fa454ab2f646487193bf5d1;
	transform-box: fill-box;
	transform-origin: 50% 50%
}
@keyframes _36ed015a78fa454ab2f646487193bf5d1 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(220px);
	}
}
.ball {
	animation: 2s linear 0s 1 normal forwards running ball;
	transform-box: fill-box;
	transform-origin: 50% 50%
}
@keyframes ball {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-266px);
	}
}