

.ball{
  background: url("../ball.png");

  height: 55px;
  width: 55px;
  background-size:55px;
  
}
.logo {
 
  background: url("../logo-top-dark.svg");
  width:259px;
  height:64px;
  background-size:cover;
 
  
}
.load_bar {
  position:absolute;
  top:0;
  left:0;
  background: #7ECA9C;
  height:3px;
  width: 0%;
  
  animation:loading 4s linear;
  }


.logo-load {
 
  background: url("../logo-top-dark.svg");
  position: relative;
  width:259px;
  height:64px;
  background-size:cover;
 
  
}

.logo-load::before{
  content: "";
  background: url("../logo.svg");
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-size:cover;
  animation: load 3s linear;
}

.App-logo {
   
  animation: App-logo-spin  400ms ease-in   ;
   
 }

.pending {
 
 position: relative;

}
.pending::before {
 
 content: "";
 position: absolute;
 top:0;
 left:0;
 height: 100%;
 background-color:#F48140;
 animation: animate-pending  3s;
}

.vanish {
 animation: animate-vanish  400ms;
 
}

.jump {
 animation: jump 500ms infinite;
}
.rotate {
 animation: rotate 5s infinite linear;
}
.walk {
 animation: walk 2s infinite;
}
.fadeIn{
 
 animation: fadeIn 400ms linear;
}
@keyframes load {
  from {
     width: 0%;
  }
 
  to {
    width: 100%;
  }
  
}

@keyframes loading {
  from {
     width: 0%;
  }
 
  to {
    width: 54%;
  }
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes walk {
  0% {
  
  transform: translateX(0px);
    
    
  }
  50% {
    transform: translateX(100px);
    
  
  }
  
}
@keyframes jump {
  0% {
  transform: translateY(0px);
  }
  50% {
    transform: translateY(100%);
  }
  
}

@keyframes animate-pending {
  from {
     width: 0%;
  }
 
  to {
      width: 100%;
  }
  
}

@keyframes App-logo-spin {
    from {
       opacity: 0;
    }
   
    to {
        opacity: 1;
    }
    
  }

@keyframes animate-vanish {
    from {
       opacity: 1;
    }
   
    to {
        opacity: 0;
    }
    
  }
  