::-webkit-scrollbar {
  background-color: transparent;

  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.roundedArea:hover>svg *,
.roundedArea:hover {
  background-color: #F5F5F5;
  color: black;
  fill: black;
}

.roundedAreaSelected:hover>svg *,
.roundedAreaSelected:hover {
  background-color: #322741;
  color: white;
  fill: white;
}

.strokeArea:hover>svg *,
.strokeArea:hover {
  background-color: #F5F5F5;
  color: black;
  stroke: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}